/*---------------------------------------
	SITE: UCBA eMedia Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(white, #818181); /* gradients are added with background not background-color */
	height: 100vh;
}
	
div.wrapper {
	width: 960px;
	margin: 1em auto 0 auto; 
	border: 2px solid silver; 
	box-shadow: 2px 2px 5px black;
	background-color: white;

}

img {
	max-width: 100%;
	height: auto;
}


/* HEADER
---------------------------------------*/
	
header {
	background-color: #ffdbe6;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 1em; 
}


header div.sitename { /* ← contains both the h1 and h2 */

}

header h1 {
	font-size: 220%;
	font-family: "nunito", serif;
	margin-bottom: .25em;
}

header h1 a {
	color: black;
	text-decoration: none;
}

header h2 {
	font-size: 105%;
	font-family: "nunito", serif;
}



/* MAIN NAVIGATION 
---------------------------------------*/	

nav.topnav { /* ← entire navigation area */
	background-color: #Ffc0Cc;
	border-radius: 2em;
	
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
}

nav.topnav li {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav.topnav a {
	padding: 1em 2em;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: black; /* ← you can change this */
}

nav.topnav a:hover {
	background-color: ghostwhite; /* ← you can change this */
	border-radius: 2em;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
main.homepage {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
   padding: 1rem;
}

article.blog {
	grid-column: 1/4;
	grid-row: 1/3;
}

article.blog h2 { /* ← blog heading */
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 150%;
	border-bottom: 1px solid black;
	
}

article.blog p { /* ← blog text */
	font-size: 135%;
	line-height: 1.3;
}

main.homepage aside { /* ← both asides */ background-color: #ffd7db;
	padding: 1em; 
	border-radius: 25px 50px 25px 50px;
}

main.homepage aside.recent {
	grid-column: 4/5;
	grid-row: 1/2;
}

main.homepage aside.links {
	grid-column: 4/5;
	grid-row: 2/3;
}

main.homepage aside h3 { /* ← h3s in asides */
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
	font-size: 1.2rem;
	border-bottom:2px dashed #959595;
	margin-bottom: .4rem;
	color: black;
}

main.homepage aside ul { /* ← lists in the asides */
	
}

main.homepage aside li { /* ← items in the aside lists */
	margin-left: 1rem;
	margin-bottom: .5rem;
}

main.homepage aside li a { /* ← links in the asides */
	color: black;
	text-decoration: none;
}

main.homepage aside li a:hover { 
	text-decoration: none;
	color: white;
	background-color: black;
	
}



/* CAMPUS AREA
---------------------------------------*/

section.campus	{
	display: grid;
	grid-column: 1/5;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
	grid-gap: 2rem;
	background-color: white;
	padding: 1em;
	
}	

section.campus section { /* ← all 6 of the building sections */
	
}

section.campus h3 {
	font-size: 105%;
	font-family: "nunito", serif;
}

section.campus figure {
	
	
}

section.campus img {
	border: 5px solid ghostwhite; /* ← you can change this */
	box-shadow: 2px 2px 5px #959595; /* ← you can change this */
}

section.campus figcaption {
	font-size: 85%;
	text-align: center;
}



/* FOOTER
---------------------------------------*/

footer {
	background-color: #Ffc0Cc;
	padding: 10px 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: .5em; 
}

footer p { 

}


/* Don't add any media queries yet.
   You will add them for the next part of this assignment */ 

/* TABLET
---------------------------------------*/

@media (max-width: 768px) {

	div.wrapper {
		width: 95%;
	}

	img {
		max-width: 100%;
	}

	header {
		text-align: center;
		display:flex;
		flex-direction: column;
	}

	nav.topnav {
		margin: .5em;
	}

	main.homepage {
		grid-template-columns: 1fr 1fr;
	}

	article.blog {
		grid-column: 1/3;
		grid-row: 1/2;
		margin: .5em;
	}

	main.homepage aside.recent {
		grid-column: 1/2;
		grid-row: 2/2;
		margin: .5em;


	}

	main.homepage aside.links {
		grid-row: 2/2;
		grid-column: 2/2;
		margin: .5em;
	}

	section.campus {
		grid-template-columns: 1fr 1fr 1fr; /* you didn't define this grid */
	}

	section.campus figure {
		display: grid; 
		grid-template-columns: 1fr 3fr;
		grid-gap: 1em;
	}

   section.campus figcaption {
		font-size: 100%;
      text-align: left;
	}

	article.blog h2 {
		font-size: 175%;
	}

	article.blog p {
		font-size: 140%;
		line-height: 1.5em;
	}

	main.homepage aside h3 {
		font-size: 1.5em;
	}

	main.homepage aside a {
		font-size: 1.5em;
		padding: 4px;
		border-radius: 40%;
	}

	section.campus h3 {
		font-size: 150%;
	}

	
}



/* PHONE
---------------------------------------*/
@media (max-width: 500px) {

	div.wrapper {
		width: 100%;
		margin: 0; 
	}


	header {
		padding: 1rem; /* 10em is a huge amount of space for a small phone screen! */
		margin: 0;
	}

	nav.topnav {
		width: 98%; 
		margin-bottom: .5em;
	}

	nav.topnav ul {
		flex-direction: column;
	}

	nav.topnav li {
		border-bottom: 1px solid silver; /* you need all 3 properties */
	}

	nav.topnav li:last-of-type {
		border: none; 
	}

	main.homepage {
		grid-template-columns: 1fr; 
	}

	article.blog {
		font-size: 100%;
		line-height: 1.3; /* Your text was smushed because you had it set to 2%. Use a decimal instead. */
		/* grid-column: 1/2; */
	}

	main.homepage aside { /* aside is an ELEMENT but you had a . before it which indicates a CLASS */
		display: none;
	}
   
	section.campus {
		grid-gap: 0.5rem;
      grid-template-columns: 1fr; /* you didn't make a new grid for this layout */
	}

	section.campus h3 {
		font-size: 1.5rem;
      margin-top: 1rem;
	}

	section.campus figure {
		background-color: #ffd7db;
		border-radius: 2em;
	}


	section.campus figcaption {
		font-size: 150%;
		line-height: 1.3; /* 4em is 4 spaces */
      padding: 1rem;
	}
}
